
.layout-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;

  main {
    min-height: 500px;
  }
}

footer {
  margin-top: 2rem;
  border-top: 1px solid black;
  min-height: 50px;
}

.sleepy-bc-embed {
  border: 0;
  width: 100%;
  height: 120px;
}
